/home/shuai/my_code/ilike/HeadFirst/build
/home/shuai/my_code/ilike/HeadFirst/lib
/home/shuai/my_code/ilike/RemoteSystemsTempFiles
/home/shuai/my_code/ilike/.project
/home/shuai/my_code/ilike/.cproject
